html {
    height: 100%;
}

body {
    background-color: #f8f8f8;
    width: 100%;
    min-height: 100%;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.top-title {
    position: relative;
    padding-left: 0.453333rem;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.373333rem;
    color: #666;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #e5e5e5;
}

.top-date {
    position: absolute;
    padding-right: 0.373333rem;
    right: 0.64rem;
}

.top-date .down {
    display: inline-block;
    width: 0.32rem;
    height: 0.186667rem;
    margin-left: 0.16rem;
    vertical-align: middle;
    background-image: url(../img/down.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin-left: 0;
}

.top-split {
    height: 0.266667rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.top-items {
    margin-bottom: 1.066667rem;
    border-bottom: 1px solid #e5e5e5;
}

.top-item {
    height: 1.733333rem;
    line-height: 1.733333rem;
    padding-left: 0.453333rem;
    display: flex;
    align-items: center;
    background: #fff;
}

.top-item>div {
    height: 100%;
    font-size: 0.4rem;
    border-bottom: 1px solid #e5e5e5;
}

.top-item>.top-rank {
    font-size: 0.48rem;
    width: 0.64rem;
    border: none;
}

.top-items>.top-item:last-child>div {
    border: none;
}

.top-item:nth-child(-n+3) .top-rank,
.top-item:nth-child(-n+3) .top-time {
    color: #f9bd15;
}

.top-me.top-item div.top-rank,
.top-me.top-item div.top-time,
.top-rank {
    color: #666;
}

.top-item.top-me>div {
    border: none;
}

.top-avatar {
    display: flex;
    align-items: center;
}

.avatar-circle {
    width: 1.066667rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.top-item>.top-time {
    padding-right: 0.64rem;
    text-align: right;
    min-width: 1.6rem;
    font-size: 0.533333rem;
    color: #666;
    font-weight: 600;
}

.top-name {
    padding-left: 0.32rem;
    flex: 1;
}

.bg-1 {
    background: #09a2e8;
}

.bg-2 {
    background: #7599d4;
}

.bg-3 {
    background: #74d4a4;
}

.bg-4 {
    background: #e6675c;
}

.bg-5 {
    background: #f1b046;
}

.bg-6 {
    background: #999;
}

#top-calendar {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.date_ctrl,
.date_btn_box {
    background: #fff;
}

.date_btn {
    width: 50%;
    border-radius: 0.133333rem;
    background: #f7f7f7;
    color: #666;
}
